{{ define "side_menu" }}
  <aside class="menu">
    <p class="menu-label">
      管理者メニュー
    </p>
    <ul class="menu-list">
      <li><a href="/cat?content=manage">サイト管理</a></li>
    </ul>
  </aside>
  <aside class="menu">
   
    <p class="menu-label">
      WEBサイトカテゴリ
    </p>
    <ul class="menu-list">
      <li><a href="/cat?content=corp">企業・コーポレート</a></li>
      <li><a href="/cat?content=net">ネット関連サービス</a></li>
      <li><a href="/cat?content=ec">オンラインショップ・EC</a></li>
    </ul>
  </aside>
{{ end }}